.toggleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggleButton {
  padding: 0.75rem 1.25rem;
  border-radius: 0.7rem;
  border: 0.1rem solid black;
  background-color: white;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.72rem;
  white-space: nowrap;
  height: fit-content;
}

.toggleButton:hover {
  background-color: rgb(214, 214, 214);
}

.toggleButton.active {
  background-color: #2196F3;  /* Blue for drag mode */
  color: white;
  border-color: #2196F3;
}

.icon {
  font-size: 1.5rem;
}

.buttonContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem;
}