/*allocationCreation.module.css*/

*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.tableContainer {
  padding: 1rem; /* Example padding */
  /* Add other styles as needed, e.g., border, background, etc. */
  border: red solid 2px;
}

.allocationTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial;
    background-color: white;
    font-size: 1.6rem;
}

.allocationTable th, .allocationTable td {
    border: 1.5px solid black;
    padding: 0.5em;
    text-align: center;
}


