:global(html) {
  font-size: 10px;
}

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(body) {
  font-family: Arial, sans-serif;
  background-color: #B0E0E6;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 900 450' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='0' height='0' fill='%234682B4'%3E%3C/rect%3E%3Cpath d='M0 130L50 152C100 174 200 218 300 229.8C400 241.7 500 221.3 600 231.3C700 241.3 800 281.7 850 301.8L900 322L900 451L850 451C800 451 700 451 600 451C500 451 400 451 300 451C200 451 100 451 50 451L0 451Z' fill='rgba(0, 0, 0, 0.5)'%3E%3C/path%3E%3Cpath d='M0 243L50 241.8C100 240.7 200 238.3 300 265.2C400 292 500 348 600 373C700 398 800 392 850 389L900 386L900 451L850 451C800 451 700 451 600 451C500 451 400 451 300 451C200 451 100 451 50 451L0 451Z' fill='%23B0E0E6'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navBar {
  background-color: #1f1f1f;
  z-index: 10;
  position: relative;
  height: 4rem;
  padding-bottom: 5rem;
  border-radius: 50% 10% 0% 5% / 0% 0% 10% 100%;
  width: 95%;
  margin-left: auto;
  margin-right: 0;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-right: 3rem;
  padding: 1rem;
  height: 100%;
}

.navItem {
  margin-right: 4rem;
}

.navButton {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  transition: background-color 0.2s;
  font-size: 2rem;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navButton:hover {
  background-color: #B0E0E6;
  color: hsl(0, 0%, 12%);
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 58rem;
  margin: 6rem 14rem 15rem 14rem;
  border-right: black solid 0.2rem;
  border-left: black solid 0.2rem;
  border-radius: 0.8rem;
  flex-direction: column;
  box-shadow: inset -9px 9px 13px #4646466b,
              inset 9px -9px 13px #4646466b;
  background: rgba(255, 255, 255, 0.35);
}

.contentWrapper {
  flex: 1;
  overflow: auto;
  width: 100%;
}

.footer {
  padding: 0;
  margin: 0;
}

.footerText {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.2rem;
  height: 5rem;
  color: white;
  background-color: #1F1F1F;
  width: 100%;
}

:global(.highlight) {
  background-color: rgba(154, 206, 193, 0.5);
}

:global(.sourceHighlight) {
  background-color: rgba(172, 83, 101, 0.5);
}
