/* AllocationInput.module.css */

/* General Styles */
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.staffText input[type="checkbox"] {
  margin-left: 1rem; 
}

.staffText{
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 5rem;
}
.h1{
  text-align: center;
}
.container {
  width: 100%;
  border-radius: 0.8rem;
  overflow-y: auto; /* Add vertical scrolling */
  max-height: 52rem; /* Adjust based on your needs */
  height: 100%;
}

.container::-webkit-scrollbar{
  width: 1rem; /* width of the scrollbar */
  height: 0.6rem; /* height for horizontal scrollbars if applicable */
  opacity: 0.1;
}

.container::-webkit-scrollbar-track {
  background-color: transparent; /* color of the track */
  opacity: 0.1;
}

.container::-webkit-scrollbar-thumb {
  background-color: #adadad; /* color of the scroll thumb */
  border-radius: 5rem;
  opacity: 0.1;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #696969; /* color when hovered over the thumb */
  opacity: 0.1;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 5rem;
  margin-bottom: 0.2rem;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: white;
  border-bottom: 0.1rem black solid;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 20;
  border-top: solid black 0.2rem;
  border-bottom: solid black 0.2rem;
}

.spacer {
  height: 6rem;
}

.indexNumber {
  margin-right: 16px; /* Adjust this value to increase/decrease the space */
  border: black solid 0.1rem;
  border-radius: 200rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 2rem;
}

.inputText, .select, .button{
  padding: 0.7rem;
  border: 0.1rem solid black;
  border-radius: 0.8rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  text-transform: capitalize;
}


.inputText {
  cursor: text; 
}

.staffName {
  display: flex;/* or 'inline' depending on your layout */
  vertical-align: middle; /* Adjust as needed: top, middle, bottom */
  justify-content: center;
  align-items: center;

}

.break {
  padding: 0.4rem;
  border-radius: 0.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-left: 0.7rem;
}

.BreakText {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
}

.labelText {
  margin-right: 0.4rem; /* Adjust as necessary for space */
  white-space: nowrap;
}

.security, .intialObservation {
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 5rem;
}

.security {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;  
}

.breakOption{
  padding: 0.5rem;
}
.inputText:focus, .select:focus {
  border-color: black;
    outline: none;
    box-shadow: 0 0 0.3rem ;
}

.indexAndName{
  display: flex;
  align-items: center;
}

.button {
  background-color: hsl(0, 0%, 12%);
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}


.select { 
  cursor: pointer;
}

/* Custom checkbox */
input[type="checkbox"] {
  appearance: none;
  background-color: #f3f3f3;
  border: 0.2rem solid #dcdcdc;
  border-radius: 0.4rem;
  display: inline-block;
  position: relative;
  height: 2rem;
  width: 2rem;
  transition: background-color 0.2s ease, border 0.2s ease;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #2a2abb;
  border: 0.2rem solid black;
}

input[type="checkbox"]:checked:after {
  content: '';
  position: absolute;
  left: 0.5rem;
  width: 0.5rem;
  height: 1.2rem;
  border: solid white;
  border-width: 0 0.3rem 0.3rem 0;
  transform: rotate(45deg);
}

/* Staff Styles */
.staffMember {
  background: white;
  padding: 0.4rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: black solid 0.01rem;
  flex-wrap: nowrap; /* Add this line */
}

.staffMember h2 {
  font-weight: bold;
  color: #333;
  text-wrap: nowrap;
  max-width: 3rem;
  
}

.staffMember label:nth-of-type(1) {
  padding: 1rem;
  
}

.staffMember label:nth-of-type(2) {
  align-items: center;
  
}

.staffMember span {
  font-weight: bold;
  font-size: 1.6rem;
}

.BreakText,
.intialObservation,
.security,
.xbutton{
  display: inline-block;
}

.BreakText{
  margin-left: 7rem;
}

.xButton {
  display: inline-block;
  background-color: #f44336; /* red color */
  color: #ffffff; /* white text color */
  font-weight: bold;
  border-radius: 0.5rem; /* makes it slightly rounded */
  border: solid black 0.1rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* smooth transition for hover effects */
  font-size: 1.5rem; /* size of the "X" character */
  margin-right: 1rem;
  
}

.xButton:hover {
  background-color: #d32f2f; /* slightly darker red for hover effect */
  transform: scale(1.1); /* slightly enlarge the button on hover */
}

.xButton:focus {
  outline: none; /* remove default focus outline */
  box-shadow: 0 0 0.3rem #f44336; /* adds a shadow when focused, matching your input focus style */
}

.securityContainer {
  display: inline-flex;       
  align-items: center;        
  gap: 0rem;                
}

.securityNumber {
  font-size: 1.6rem;
  padding: 0.7rem;
  border: 0.1rem solid black;
  border-radius: 0.8rem;
  transition: all 0.2s ease;
}


/*------------Fun addition-------------------*/
@keyframes animateRainbow {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}

.rainbow-text {
  animation: animateRainbow 5s linear infinite;
}

.roleContainer {
  display: inline-flex;       
  align-items: center;        
  gap: 0.5rem;                
}

.roleLabel {
  font-weight: bold;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.maxObsNumber {
  font-size: 1.6rem;
  padding: 0.7rem;
  border: 0.1rem solid black;
  border-radius: 0.8rem;
  transition: all 0.2s ease;
}
